html {
  height: 100%;
  font-size: 1px;
  box-sizing: border-box; }

*::before, *::after, * {
  box-sizing: inherit; }

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  outline: none; }

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

svg.signup-svg {
  fill: #FFFFFF;
  width: 63px;
  height: 162px; }

svg.valid-svg {
  width: 11px;
  height: 8px; }

svg .shape-path {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear;
          animation: dash 5s linear; }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@font-face {
  font-family: "Work-Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Work/WorkSans-Regular.eot");
  src: url("../fonts/Work/WorkSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Work/WorkSans-Regular.ttf") format("truetype"), url("../fonts/Work/WorkSans-Regular.svg#Work-Sans") format("svg"); }

@font-face {
  font-family: "PTSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PTSans/PTSans-Regular.eot");
  src: url("../fonts/PTSans/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSans-Regular.ttf") format("truetype"), url("../fonts/PTSans/PTSans-Regular.svg#PTSans") format("svg"); }

.form-left {
  width: 100%;
  max-width: 137.2px;
  height: 100%;
  background: #5A61ED;
  position: relative; }
  @media (max-width: 599px) {
    .form-left {
      display: none; } }
  .form-left .form-left__signup {
    position: absolute;
    bottom: 22px;
    right: 0; }

.info-top .top-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16.1px; }
  @media (max-width: 599px) {
    .info-top .top-wrapper {
      flex-wrap: wrap; } }
  .info-top .top-wrapper:last-child {
    margin-bottom: 0; }
  .info-top .top-wrapper .top-item {
    width: 100%;
    max-width: 234.5px;
    position: relative; }
    .info-top .top-wrapper .top-item:nth-child(1) {
      -webkit-animation: slowShow 1s ease-in-out;
              animation: slowShow 1s ease-in-out; }
    .info-top .top-wrapper .top-item:nth-child(2) {
      -webkit-animation: slowShow 1.5s ease-in-out;
              animation: slowShow 1.5s ease-in-out; }
    .info-top .top-wrapper .top-item:nth-child(3) {
      -webkit-animation: slowShow 2s ease-in-out;
              animation: slowShow 2s ease-in-out; }
    .info-top .top-wrapper .top-item:nth-child(4) {
      -webkit-animation: slowShow 2.25s ease-in-out;
              animation: slowShow 2.25s ease-in-out; }
    .info-top .top-wrapper .top-item:nth-child(5) {
      -webkit-animation: slowShow 2.5s ease-in-out;
              animation: slowShow 2.5s ease-in-out; }
    .info-top .top-wrapper .top-item:nth-child(6) {
      -webkit-animation: slowShow 2.75s ease-in-out;
              animation: slowShow 2.75s ease-in-out; }
    .info-top .top-wrapper .top-item.error input {
      color: #FF2222;
      border-bottom: 0.7px solid #FF2222; }
      .info-top .top-wrapper .top-item.error input:focus, .info-top .top-wrapper .top-item.error input:active, .info-top .top-wrapper .top-item.error input:checked {
        border: none;
        outline: none;
        border-bottom: 0.7px solid #FF2222; }
    .info-top .top-wrapper .top-item #firstNameError,
    .info-top .top-wrapper .top-item #lastNameError,
    .info-top .top-wrapper .top-item #emailError,
    .info-top .top-wrapper .top-item #passError,
    .info-top .top-wrapper .top-item #confirmPassError {
      position: absolute;
      bottom: -10px;
      font-family: Work-Sans;
      font-style: normal;
      font-size: 10rem;
      color: #FF2222; }
    @media (max-width: 599px) {
      .info-top .top-wrapper .top-item {
        max-width: unset;
        margin-bottom: 20px; } }
    .info-top .top-wrapper .top-item label,
    .info-top .top-wrapper .top-item .gender-title {
      display: block;
      margin-bottom: 5px;
      font-family: Work-Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 12rem;
      line-height: 14rem;
      cursor: pointer;
      color: #7C7C7C;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .info-top .top-wrapper .top-item .gender-title {
      margin-bottom: 7.7px; }
    .info-top .top-wrapper .top-item input,
    .info-top .top-wrapper .top-item select {
      padding: 0 0 6px 0;
      background: none;
      border: none;
      border-bottom: 0.7px solid #F2F2F2;
      font-family: Work-Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 14rem;
      line-height: 16rem;
      color: #111111; }
      .info-top .top-wrapper .top-item input:focus, .info-top .top-wrapper .top-item input:active, .info-top .top-wrapper .top-item input:checked,
      .info-top .top-wrapper .top-item select:focus,
      .info-top .top-wrapper .top-item select:active,
      .info-top .top-wrapper .top-item select:checked {
        border: none;
        outline: none;
        border-bottom: 0.7px solid #5A61ED; }
      .info-top .top-wrapper .top-item input::-webkit-input-placeholder, .info-top .top-wrapper .top-item select::-webkit-input-placeholder {
        color: rgba(124, 124, 124, 0.5); }
      .info-top .top-wrapper .top-item input::-moz-placeholder, .info-top .top-wrapper .top-item select::-moz-placeholder {
        color: rgba(124, 124, 124, 0.5); }
      .info-top .top-wrapper .top-item input:-ms-input-placeholder, .info-top .top-wrapper .top-item select:-ms-input-placeholder {
        color: rgba(124, 124, 124, 0.5); }
      .info-top .top-wrapper .top-item input::-ms-input-placeholder, .info-top .top-wrapper .top-item select::-ms-input-placeholder {
        color: rgba(124, 124, 124, 0.5); }
      .info-top .top-wrapper .top-item input::placeholder,
      .info-top .top-wrapper .top-item select::placeholder {
        color: rgba(124, 124, 124, 0.5); }
    .info-top .top-wrapper .top-item input {
      width: 100%; }
    .info-top .top-wrapper .top-item select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      min-width: 56px;
      padding-right: 20px;
      background: url("/svg/sprite.svg#Arrow") no-repeat;
      background-position: 100% 50%;
      background-size: 10px 10px;
      cursor: pointer; }
      .info-top .top-wrapper .top-item select#DATE_YEAR {
        background-position: 100% 20%; }
      .info-top .top-wrapper .top-item select#NATIONALITY {
        width: 100%;
        padding-right: 0; }
    .info-top .top-wrapper .top-item.emailBlock .valid-arrow {
      position: absolute;
      right: 0;
      top: 50%;
      width: 11px;
      height: 8px;
      opacity: 0;
      transition: .3s; }
    .info-top .top-wrapper .top-item.emailBlock.validMail .valid-arrow {
      opacity: 1;
      transition: 1s; }
    .info-top .top-wrapper .top-item .item-date {
      display: flex;
      justify-content: space-between; }
    .info-top .top-wrapper .top-item .item-gender {
      display: flex; }
      .info-top .top-wrapper .top-item .item-gender .gender-wrapper {
        margin-left: 22px; }
        .info-top .top-wrapper .top-item .item-gender .gender-wrapper:first-child {
          margin-left: 0; }
        .info-top .top-wrapper .top-item .item-gender .gender-wrapper label {
          margin: 0; }
        .info-top .top-wrapper .top-item .item-gender .gender-wrapper input[type="radio"]:checked, .info-top .top-wrapper .top-item .item-gender .gender-wrapper input[type="radio"]:not(:checked) {
          position: absolute;
          left: -9999px; }
        .info-top .top-wrapper .top-item .item-gender .gender-wrapper input[type="radio"]:checked + label,
        .info-top .top-wrapper .top-item .item-gender .gender-wrapper input[type="radio"]:not(:checked) + label {
          display: inline-block;
          position: relative;
          padding-left: 18px;
          cursor: pointer;
          font-family: Work-Sans;
          font-style: normal;
          font-weight: 300;
          font-size: 12rem;
          line-height: 14rem;
          color: #7C7C7C; }
        .info-top .top-wrapper .top-item .item-gender .gender-wrapper input[type="radio"]:checked + label:before,
        .info-top .top-wrapper .top-item .item-gender .gender-wrapper input[type="radio"]:not(:checked) + label:before {
          content: "";
          position: absolute;
          left: 0px;
          top: 0px;
          width: 12px;
          height: 12px;
          border: 0.7px solid #5A61ED;
          border-radius: 100%;
          background-color: none; }
        .info-top .top-wrapper .top-item .item-gender .gender-wrapper input[type="radio"]:checked + label:after,
        .info-top .top-wrapper .top-item .item-gender .gender-wrapper input[type="radio"]:not(:checked) + label:after {
          content: "";
          position: absolute;
          left: 3px;
          top: 3px;
          width: 6px;
          height: 6px;
          transition: all 0.2s ease;
          border-radius: 100%;
          background-color: #5A61ED; }
        .info-top .top-wrapper .top-item .item-gender .gender-wrapper input[type="radio"]:not(:checked) + label:after {
          opacity: 0; }
        .info-top .top-wrapper .top-item .item-gender .gender-wrapper input[type="radio"]:checked + label:after {
          opacity: 1; }

.info-top .form-success {
  display: none;
  transition: .5s;
  margin-top: 178.2px;
  padding-left: 42.8px; }
  .info-top .form-success h3 {
    margin-bottom: 11px;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22rem;
    line-height: 26rem;
    letter-spacing: -0.46px;
    color: #111111; }
  .info-top .form-success h4 {
    margin: 0;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14rem;
    line-height: 16rem;
    color: #111111; }
  .info-top .form-success.active {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: .5s; }

.info-bottom {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .info-bottom .bottom-left p {
    margin: 0;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 13rem;
    line-height: 15rem;
    color: #111111; }
    .info-bottom .bottom-left p a {
      text-decoration: underline;
      color: #5A61ED; }
  .info-bottom .bottom-right button {
    padding: 7px 25px;
    font-family: PTSans;
    font-style: normal;
    font-weight: normal;
    font-size: 14rem;
    line-height: 18rem;
    color: #FFFFFF;
    border: none;
    background: #5A61ED;
    cursor: pointer; }
  .info-bottom .submmit-error {
    -webkit-animation: submError .5s ease-in-out;
            animation: submError .5s ease-in-out; }

@-webkit-keyframes submError {
  from {
    transform: translate(-40px, 0); }
  50% {
    transform: translate(20px, 0); }
  80% {
    transform: translate(-20px, 0); }
  to {
    transform: translate(0, 0); } }

@keyframes submError {
  from {
    transform: translate(-40px, 0); }
  50% {
    transform: translate(20px, 0); }
  80% {
    transform: translate(-20px, 0); }
  to {
    transform: translate(0, 0); } }

.right-info {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .right-info .right-info__title {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22rem;
    line-height: 26rem;
    letter-spacing: -0.46px;
    color: #111111;
    margin: 0; }
  .right-info .right-info__desc {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14rem;
    line-height: 16rem;
    color: #111111;
    margin-top: 0;
    margin-bottom: 20px; }

.form-right {
  width: 100%;
  max-width: 527.8px;
  height: 100%;
  padding: 38.5px 22px 32.5px 21px;
  background: url("/svg/sprite.svg#Shape") bottom right no-repeat;
  background-size: 307px 355px; }
  @media (max-width: 599px) {
    .form-right {
      max-width: unset; } }

.form {
  max-width: 665px;
  width: 100%;
  max-height: 480px;
  height: 100%;
  display: flex;
  background-color: #FFFFFF; }
  @media (max-width: 599px) {
    .form {
      max-height: unset;
      height: auto; } }

@-webkit-keyframes slowShow {
  from {
    opacity: 0;
    transform: translate(0, 50px); }
  50% {
    opacity: .5; }
  to {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes slowShow {
  from {
    opacity: 0;
    transform: translate(0, 50px); }
  50% {
    opacity: .5; }
  to {
    opacity: 1;
    transform: translate(0, 0); } }
